body {
    background-color: #1f2631;
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    text-align: center;
    margin-top: 300px;

}
#getFactButton {
    font-size: 1.1rem;
    padding: 6px 10px;
    background-color: #282e35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fact {
    color: rgb(255, 123, 0);
}